In [ ]:
---
title: "Statistical Analsyis"
execute:
    echo: true
    eval: true
---

# Statistical Analaysis {.unnumbered}

#### Statistical analysis: {.unnumbered}

In [ ]:
print("mean of age: \n", data["age"].mean()) # mean of age
print("std of age: \n", data["age"].std()) # standard deviation of age
print("median of age: \n", data["age"].median()) # median of age
print("max of age: \n", data["age"].max()) # max of age
print("min of age: \n", data["age"].min()) # min of age
print("sum of age: \n", data["age"].sum()) # sum of age
print("Statisical summary: \n", data.describe()) # statistical summary
# mean of age group by city
print("Mean of age group by city: \n", data.groupby("city")["age"].mean()) 
# count the person in the differen jobs
print("Count the person in the differen jobs \n", data["job"].value_counts())

mean of age:
 39.2
std of age:
 14.060583202698243
median of age:
 36.0
max of age:
 60
min of age:
 23
sum of age:
 196
Statisical summary:
              age
count   5.000000
mean   39.200000
std    14.060583
min    23.000000
25%    32.000000
50%    36.000000
75%    45.000000
max    60.000000
Mean of age group by city:
 city
Berlin      45.0
London      32.0
New York    23.0
Paris       48.0
Name: age, dtype: float64
Count the person in the differen jobs
 job
student    3
teacher    2
Name: count, dtype: int64

#### Sort data: {.unnumbered}

In [ ]:
# sort the data by age in descending order
print("sorted after age: ",data.sort_values(by="age", ascending=True))

sorted after age:      name  age      job      city
0   John   23  student  New York
3  Linda   32  student    London
1   Anna   36  teacher     Paris
2  Peter   45  student    Berlin
4  Maria   60  teacher     Paris

#### Create pivot tables: {.unnumbered}

Pivot tables are used to summarize and aggregate data inside a dataframe.

In [ ]:
# pivot table
data.pivot_table(index="city", columns="job", values="age", aggfunc="mean")

job       student  teacher
city
Berlin       45.0      NaN
London       32.0      NaN
New York     23.0      NaN
Paris         NaN     48.0